.about-page-section-one {
    /* background-color: pink; */
    padding: 50px 100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.about-page-section-two {
    /* background-color: lime; */
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    gap: 50px;
    flex-wrap: wrap;
}

.about-orders-box {
    background-color: white;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px 10px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.about-orders-box:hover {
    transform: scale(1.1);
}

.about-page-section-three {
    /* background-color: pink; */
    padding: 50px 100px;
}

.about-page-section-four {
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-page-cards-container {
    /* background-color: lime; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about-page-card {
    background-color: whitesmoke;
    width: 400px;
    padding: 30px 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
    transition: all 0.5s ease-out;
    margin: 10px 30px;
    margin-bottom: 20px;
}

.about-page-card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1.1);
}

.about-page-card-header {
    margin-bottom: 20px;
}

.about-page-card-header img {
    height: 70px;
    width: 70px;
}

.about-page-card-body {
    margin-bottom: 20px;
}

.about-page-section-five {
    /* background-color: lime; */
    display: flex;
    padding: 50px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.about-page-video-contanier {
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.about-page-section-five-content {
    /* background-color: lightblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.heading-bottom-border {
    border-bottom: 2px solid #3f71b9;
    width: 200px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.about-page-section-six {
    /* background-color: pink; */
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-page-section-six-sub-section {
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.about-page-section-six-content-container {
    width: 500px;
}

.about-page-large-card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 50px 20px;
    border-radius: 20px;
    width: 450px;
    display: flex;
    flex-direction: column;
}

.large-card-list-container {
    /* background-color: brown; */
}

.list-item-details {
    display: flex;
    align-items: center;
    /* background-color: lime; */
    border-bottom: 1px solid lightgrey;
    margin-bottom: 20px;
    padding-bottom: 20px;
    /* flex-wrap: wrap; */
}

.list-item-details img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.para-border {
    border-top: 2px solid #3f71b9;
    border-bottom: 2px solid #3f71b9;
    padding: 10px 0px;
}

@media screen and (max-width:1260px) {
    .about-page-section-five {
        flex-direction: column;
        padding: 0px;
    }

    .about-page-video-contanier {
        width: 100%;
    }

    .about-page-section-five-content {
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }
}

@media screen and (max-width:550px) {
    .about-page-section-one {
        padding: 20px;
        text-align: center;
    }

    .about-page-section-three {
        padding: 20px;
        text-align: center;
    }

    .about-page-section-six {
        padding: 20px;
        text-align: center;
    }

    .about-page-large-card {
        transform: scale(0.9);
    }
}

@media screen and (max-width:550px) {
    .about-page-large-card {
        transform: scale(0.7);
        margin-top: -50px;
    }
    .about-page-card{
        transform: scale(0.9);
    }
}

@media screen and (max-width:400px) {
    .about-page-card{
        transform: scale(0.8);
    }
}

@media screen and (max-width:300px) {
    .about-page-card{
        transform: scale(0.7);
    }
}

@media screen and (max-width:200px) {
    .about-page-card{
        transform: scale(0.6);
    }
}