.driving-license-section-one {
    /* background-color: lightcoral; */
    padding: 50px;
}

.driving-license-section-one-header {
    /* background-color: lightgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.countries-container {
    /* background-color: lightsalmon; */
    display: flex;
    flex-wrap: wrap;
    padding: 30px 10px;
    justify-content: center;
    align-items: center;
    gap: 0px 20px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.flag-container {
    /* background-color: white; */
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: start;
    border-bottom: 1px dashed lightgrey;
    padding: 5px;
}

.flag-icon {
    height: 45px;
    width: 45px;
    margin-right: 10px;
}

.flag-container span {
    /* color: blue; */
}

.driving-license-section-two {
    /* background-color: lightblue; */
    padding: 0px 50px 20px 50px;
    display: flex;
    justify-content: center;
}

.driving-license-section-three {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0)), linear-gradient(to top, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.3)), url(../assets/backgrounds/mobile-app-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.app-download-details-container {
    border-left: 2px solid white;
}

.app-download-btn {
    height: 50px;
    border-radius: 10px;
    margin: 5px;
    width: 200px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.app-download-btn:hover {
    transform: scale(1.1);
}

@media screen and (max-width:1046px) {
    .driving-license-section-one {
        padding: 20px 0px;
    }

    .flag-container {
        width: 200px;
    }

    .driving-license-section-two {
        padding: 20px;
    }

    .driving-license-section-three {
        display: none;
    }
}

@media screen and (max-width:759px) {
    .flag-container {
        width: 180px;
    }
}