.desert-safari-section-one {
    /* background-color: yellow; */
    padding: 30px 50px;
}

.desert-safari-section-two {
    /* background-color: lime; */
    /* padding:30px 50px; */
}

.desert-safari-cards-container {
    /* background-color: pink; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.desert-safari-card {
    background-color: white;
    width: 400px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* transition: all 0.5s ease-out; */
    cursor: pointer;
    margin: 20px 15px;
}

.desert-safari-card:hover {
    /* transform: scale(1.1); */
}

.desert-safari-card-head {
    position: relative;
}

.desert-safari-card-head img {
    height: auto;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.desert-safari-card-discount-badge-container {
    /* background-color: red; */
    position: absolute;
    top: 10px;
    right: 10px;
}

.desert-safari-card-body {
    /* background-color: yellow; */
    padding: 10px;
}

.desert-safari-details {
    /* background-color: lime; */
    border-bottom: 1px solid lightgray;
}

.desert-safari-info {
    /* background-color: brown; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.desert-safari-price-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: lime; */
    padding: 10px;
    border-left: 1px solid lightgray;
}

.desert-safari-features {
    /* background-color: lightblue; */
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid lightgrey;
    padding: 10px 0px;
}

.desert-safari-feature-icon {
    height: 50px;
    width: 50px;
    margin: 5px;
    background-color: whitesmoke;
    padding: 7px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.desert-safari-key-features {
    /* background-color: red; */
    padding: 5px;
    border-bottom: 1px solid lightgray;
}

.key-features-details {
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.key-feature-icon {
    height: 25px;
    width: 25px;
    margin-right: 9px;
}

.key-feature-text {
    font-size: 16px;
}

.desert-safari-card-footer {
    padding: 0px 10px 10px;
}

.desert-safari-card-footer button {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.desert-safari-section-three {
    background-color: whitesmoke;
    padding: 30px 100px;
}

.desert-safari-section-three-header {
    display: flex;
    /* background-color: lightblue; */
    border-bottom: 1px dashed lightgrey;
    margin-bottom: 10px;
}

.desert-safari-content-container {
    /* background-color: lime; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    gap: 50px;
}

.desert-safari-content-card {
    /* background-color: yellow; */
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    /* transition: all 0.5s ease-out; */
}

.desert-safari-content-card:hover {
    /* transform: scale(1.1); */
}

.desert-safari-content-card-img {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.desert-safari-content-card-img-one {
    background-image: url(../assets/images/tour-images/jumeirah.jpg);
}

.desert-safari-content-card-img-two {
    background-image: url(../assets/images/tour-images/river-land.jpg);
}

.desert-safari-content-card-img-three {
    background-image: url(../assets/images/tour-images/air-baloon.jpg);
}

.desert-safari-content-card-img-four {
    background-image: url(../assets/images/tour-images/marina.jpg);
}

.desert-safari-content-card-img-five {
    background-image: url(../assets/images/tour-images/palm-island.jpg);
}

.desert-safari-content-card-img-six {
    background-image: url(../assets/images/tour-images/museum.jpg);
}

.desert-safari-content-card-img-seven {
    background-image: url(../assets/images/tour-images/glow-garden.jpg);
}

.desert-safari-content-card-img-eight {
    background-image: url(../assets/images/tour-images/burj-al-arab.jpg);
}

.desert-safari-content-card-img-nine {
    background-image: url(../assets/images/tour-images/burj-khalifa.jpg);
}

.desert-safari-content-card-content {
    background-color: white;
    width: 90%;
    height: 200px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: auto;
    margin-top: -15px;
    overflow-y: scroll;
}


/* width */
.desert-safari-content-card-content::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.desert-safari-content-card-content::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    border-radius: 10px;
    background-color: white;
}

/* Handle */
.desert-safari-content-card-content::-webkit-scrollbar-thumb {
    background: lightgrey;
    border-radius: 5px;
}

/* Handle on hover */
.desert-safari-content-card-content::-webkit-scrollbar-thumb:hover {
    background: #3f71b9;
}

.desert-safari-content-header {
    /* background-color: white; */
    border-bottom: 2px solid #3f71b9;
    margin-bottom: 10px;
}

/* .service-card{
    margin: 15px;
} */

.desert-safari-section-four {
    /* background-color: pink; */
    padding: 30px 70px 50px 70px;
}

.desert-safari-section-four-header {
    display: flex;
    flex-direction: column;
    /* background-color: lightblue; */
}


.desert-safari-details-box {
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    /* transition: all 0.5s ease-out; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: white;
}

.desert-safari-details-box:hover {
    /* transform: scale(1.1); */
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.desert-safari-details-box-img {
    height: 180px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.desert-safari-details-box-img-one {
    background-image: url(../assets/images/desert/1.jpg);
}

.desert-safari-details-box-img-two {
    background-image: url(../assets/images/desert/2.jpg);
}

.desert-safari-details-box-img-three {
    background-image: url(../assets/images/desert/3.jpg);
}

.desert-safari-details-box-img-four {
    background-image: url(../assets/images/desert/4.jpg);
}

.desert-safari-details-box-content {
    background-color: white;
    padding: 10px;
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 50px;
}

.desert-safari-section-five {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: pink; */
    background-image: url(../assets/images/desert/2.jpg);
    background-size: cover;
    background-position: center center;
    padding: 70px 10px;
}

.desert-safari-section-five div {
    padding: 50px;
    border-radius: 20px;
}

.desert-safari-section-five div header {
    display: flex;
    border-bottom: 1px dashed lightgray;
    margin-bottom: 10px;
}

.desert-safari-section-five div ul li {
    margin-bottom: 10px;
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);
}

@media screen and (max-width:680px) {

    /* .desert-safari-section-three{
        padding: 10px;
    } */
    .desert-safari-section-four {
        padding: 10px;
    }
}

@media screen and (max-width:768px) {
    .desert-safari-section-one {
        padding: 20px;
        margin-top: -30px;
    }
}

@media screen and (max-width:820px) {
    .desert-safari-section-two {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .desert-safari-section-three {
        padding: 10px 20px;
    }
}

@media screen and (max-width:1050px) {
    .desert-safari-section-three {
        padding: 10px 20px;
    }
}

@media screen and (max-width:430px) {
    .desert-safari-card {
        width: auto;
    }
}