.desert-safari-details-page-key-features {
    border: 0 !important;
    /* background-color: yellow; */
    padding: 20px 25px;
    margin: 0px 20px;
    margin-bottom: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}

.desert-safari-section-two-details-page {
    background-image: url(../assets/backgrounds/desert-bg.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tour-package-booking-card-info {
    /* background-color: pink; */
    display: flex;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid lightgrey;
}

.tour-package-booking-card-info-header {
    /* background-color: lightblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
}

.tour-package-booking-card-info-header img {
    height: 70px;
    width: 100px;
    margin-top: -20px;
}

.tour-package-booking-card-info-body {
    padding: 7px;
    display: flex;
    flex-direction: column;
}
.tour-package-booking-card-info-body span{
    font-size: 13px;
}

.tour-package-booking-card-price-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: pink; */
    margin-top: 30px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding: 25px 0px;
}