.driver-service-section-one {
    padding: 50px 100px;
}

.driver-service-section-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: pink; */
}

.driver-service-table {
    padding: 0px !important;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    margin: 10px 10px 20px 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.driver-service-table-header-one {
    border-top-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

.driver-service-table-header-two {
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}

.driver-service-table-body {
    padding: 30px 20px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.driver-service-table-body-one {
    border-right: 1px solid lightgrey;
}

.driver-service-section-three {
    /* background-color: lightblue; */
    padding: 50px;
}

.driver-service-section-three-header {
    /* background-color: lightgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.driver-service-section-three-body {
    display: flex;
    /* background-color: lightcoral; */
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.payment-card {
    padding: 5px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 30px;
}

.driver-service-section-three-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.driver-service-section-four {
    /* background-color: pink; */
    padding: 10px 0px;
}

.driver-service-section-four-header {
    /* background-color: lime; */
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.driver-service-section-four-body {
    /* background-color: lightcoral; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.driver-service-section-four-box {
    /* background-color: yellow; */
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.driver-service-section-four-icons {
    height: 70px;
    width: 70px;
    background-color: white;
    padding: 15px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.driver-service-section-five {
    /* background-color: yellow; */
    padding: 30px 0px;
}

.driver-service-section-five-header {
    /* background-color: lightgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 30px 0px;
}

.driver-service-section-five-body {
    /* background-color: lightcoral; */
    display: flex;
    justify-content: center;
    margin: 10px 50px;
    flex-direction: column;
    align-items: center;
}


.driver-service-section-five-bg-img {
    background-image: url(../assets/backgrounds/driver-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 500px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.driver-service-section-five-content-container {
    /* background-color: lightblue; */
    padding: 10px;
}

@media screen and (max-width:1250px) {
    .driver-service-section-one {
        padding: 20px;
        margin-top: -30px;
        margin-bottom: 30px;
    }

    .driver-service-table-container {
        /* background-color: pink; */
    }

    .driver-service-table {
        flex-direction: column;
        padding: 10px;
    }

    .driver-service-table-column-one {
        width: 100%;
    }

    .driver-service-table-column-two {
        width: 100%;
    }

    .driver-service-table-header-one {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .driver-service-table-header-two {
        border-top-right-radius: 0px;
    }

    .driver-service-table-time-text {
        margin-bottom: 30px !important;
    }

    .driver-service-section-five-content-container {
        padding:0px;
    }
}

@media screen and (max-width:767px) {
    .driver-service-section-five-bg-img {
        display: none;
    }
}