/* page image header css */
.page-image-header {    
    height: 40vh;
    background: red;
    margin-top: -90px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white !important;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.5)), linear-gradient(to top, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.5)), url(../assets/backgrounds/page-header-bg.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media screen and (max-width:768px) {
    .page-image-header{
        display: none;
    }
}