.site-working-page{
    height: 100vh;
    width: 100%;
    /* background-color: pink; */
    margin-top: -90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    flex-wrap: wrap;
    background-image: url(../assets/backgrounds/working-bg.jpg);
    background-position: center center; 
    background-size: cover;
    background-repeat: no-repeat;
}

.site-working-page h1{
    font-weight: bold;
}

.site-working-page h3{
    font-weight: bold;
    margin-bottom: 100px;
}

