.amenities-bar-container{
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0px !important;
    margin: 0px !important;
    border-bottom: none !important;

}
.amenities-bar{
    /* background-color: lightblue; */
    display: flex;
    margin: 0px !important;
    padding:10px !important;
    width: 100%;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-bottom: none !important;
    cursor: pointer;
    border: 1px solid lightgrey;
    margin-top: 20px !important;
}

.amenities-bar-details{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 30px !important;
    border-bottom: 1px solid lightgrey !important;
    border-left: 1px solid lightgrey !important;
    border-right: 1px solid lightgrey !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: -4px;
    border-top: 1px dashed lightgrey;
}

.amenities-bar-details-one span{
    /* background-color: lightblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.amenities-bar-right-icon{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.amenities-bar-details span{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 3px 10px;
}

.yacht-details-section-one-timings-locations-details-container{
    margin-top: 20px;
    margin-bottom: 20px;
    padding:15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.yacht-details-section-one-timings-locations-details-container h6{
    border-bottom: 1px dashed lightgrey;
    padding-bottom: 10px;
}

.meeting-point-details-container{
    /* background-color: pink; */
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.meeting-point-details-container img{
    margin-right: 7px;
}

.yacht-price-details-tab{
    width: 100%;
    font-weight: 600;
}

.payment-mode-aminities{
    margin-bottom: 10px;
}
.payment-mode-aminities span{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0 10px;
    margin: 0 10px;
}
.yacht-pay-cancel{
    width: 100%;
}